.card {
    border: solid #d57323;
    transition: transform 0.6s ease, box-shadow 0.2s ease;
	background: hsl(0, 0%, 0%);
	color: #d57323;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
h3 {
    border-bottom: 2px solid #d57323;
    padding-bottom: 10px;
	color: white;
}
.title-top{ 
    
    text-transform: uppercase;
    font-family: verdana;
    font-size: 4em;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 1px 1px 1px #ff7b00,
        1px 2px 1px #000000,
        1px 3px 1px #000000,
        1px 4px 1px #000000,
        1px 5px 1px #000000,
        1px 6px 1px #000000,
        1px 7px 1px #000000,
        1px 8px 1px #000000,
        1px 9px 1px #000000,
        1px 10px 1px #000000,
    1px 18px 6px #ff7b00,
    1px 22px 10px #ff7b00,
    1px 25px 35px #ff7b00,
    1px 30px 60px #ff7b00;
}
.back {
	background: linear-gradient(-45deg, #dd4d22, #000000, #d57323, #ffffff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

body,
html {
	background: #000000;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	width: 100%;
}
.container {
	padding-bottom: 3rem;
}
.card-img-top {
	-webkit-box-reflect: below 5px
		linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3));
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
	color: white !important;
	
}
.card-body>p {
	color: white !important;
}
.last {
	margin-top: 6.5rem;
}
.featured_wrapper {
	position: relative;
}
.featured_wrapper img {
	width: 100%;
	width: 100%;
	height: 100vh;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: top;
	object-position: top;
}
.title_wrapper {
	position: absolute;
	width: 100%;
	left: 2rem;
	bottom: 2rem;
	padding: 20px 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.title_wrapper h1 {
	width: 70%;
}
.stars {
    display: inline-block;
}

.star {
    font-size: 20px;
    color: #ccc;
}

.star.filled {
    color: #f39c12;
}
@media (max-width: 1000px) and (min-width: 770px) {
    .row-cols-md-4 > .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 768px) {
	.title_wrapper {
		text-align: center;
		left: 0;
		padding: 10px 20px;
	}
	.title-top{
		margin-top: 10px;
		text-align: center;
		font-size: 32px !important;
		width: 100%;
	}
	.container {
		padding: 20px;
	}
}
@media (max-width: 480px) {
	.column.is-one-quarter img {
		width: 100%;
		margin-bottom: 7rem;
	}
	.title-top{
		margin-top: 10px;
		text-align: center;
		font-size: 20px !important;
		width: 100%;
	}
}

